$clr-accent: #f16b4e;
$clr-primary: #232323;
$clr-secondary: #1f1f1f;
$clr-footer: #e1684d;
$clr-white: #fff;
$clr-dark: #000;

$sm: "42rem";   // use variable if the element is repeatable
$md: "92rem";
$lg: "144rem";
$xl: "180rem";